.mini-chart {
  width: 300px;
  height: 64px;
  overflow: hidden;
  background: linear-gradient(0deg, rgb(43 255 1 / 6%), rgb(43 255 1 / 6%)), #18181c;
  border-radius: 12px;
  box-shadow: 0 6.4177px 38.2739px rgb(25 25 30 / 20%), 0 2.968px 17.8722px rgb(25 25 30 / 12.8%),
    0 1.1862px 7.3037px rgb(25 25 30 / 8.53%);
}

.chart {
  width: 100%;
  height: 100%;
}

.mini-container {
  padding: 0 16px;
}

.swap-part {
  height: 30px;
}

.token-icon {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;

  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}
