:host {
  --themeColor: #24242e;
  --fontColor: #fff;
  --textColor: #a2a8ba;
}

:host * {
  color: #fff;
}

.bg-color {
  background-color: $background-color;
}

.green-color {
  color: $green-color;
}

.red-color {
  color: $red-color;
}
