$background-color: #24242e;
$header-bg-color: #404864;
$network-bg-color: #1d212e;
$wallet-bg-color: #18191c;
$label-color: #5a677d;
$coin-color: #627eea;
$text-color: #a2a8ba;
$text-bg-color: #323645;
$text-bg-active-color: #4b5578;
$btn-color-default: #4b5578;
$btn-color-primary: #5b91ea;
$btn-color-info: #3e4767;
$btn-color-success: #09cf64;
$btn-color-error: #ff5121;
$green-color: #00e061;
$red-color: #e03100;
