:host {
    .container {
        display: flex;
        width: 360px;
        height: 33px;
        color: #FFFFFF;
        font-weight: 700;
        font-size: 14px;
        .left {
            width: 40%;
            background: #404864;
            display: flex;
            align-items: center;
            .logo {
                display: flex;
                align-items: center;
                margin-left: 15px;
                span {
                    margin-left: 4px;
                }
            }
        }
        .right {
            width: 60%;
            background: #18191C;
            display: flex;
            align-items: center;
            .network, .account {
                display: flex;
                align-items: center;
                span {
                    margin-left: 4px;
                }
            }
            .network span::after {
                position: absolute;
                margin-top: 6px;
                content: "";
                display: inline-block;
                width: 0;
                height: 0;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid #fff;
                margin-left: 4px;
            }
            .network {
                margin-left: 15px;
            }
            .account {
                margin-left: 45px;
            }
        }
    }
}